i {
  font-style: normal;
}
body {
  padding-top: 54px;
  padding-bottom: 54px;
}
header.top a.navbar-brand img {
  height: 26px;
}
header.top .navbar-nav li {
  border: 2px solid transparent;
}
header.top .navbar-default {
  background-color: #293c55;
}
header.top .navbar-default .navbar-toggle {
  border-color: transparent;
}
header.top .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
header.top .navbar-default li {
  cursor: pointer;
}
header.top .navbar-default li > a:hover {
  color: #fff;
}
header.top .navbar-default li > a:active {
  color: #fff;
}
header.top .navbar-default li > a:visited {
  color: #fff;
}
header.top .navbar-default li > a {
  color: #fff;
}
#fp div.section {
  height: 588px !important;
}
section.content #fp-nav ul li a span {
  background: transparent !important;
  border: 1px solid #337ab7;
}
.one {
  background: url("../images/1.jpg") no-repeat;
}
.one .left li,
.one .left h2 {
  color: #ffffff;
}
.one .right img {
  max-width: 100%;
}
.two h2,
.two p {
  text-align: center;
  color: #707d8d;
}
.two ul > li {
  float: left;
  width: 20%;
}
.three h2,
.three p {
  text-align: center;
  color: #707d8d;
}
.three img {
  max-width: 100%;
}
.three p {
  text-align: center;
}
.modal {
  top: 100px;
}
.modal .form-horizontal .checkbox span.pull-right {
  color: #4183C4;
}
.modal .model-top,
.modal .modal-btm {
  height: 100px;
  border-left: 1px solid #cccccc;
}
.modal span.center {
  margin-left: -10px;
  margin-right: 20px;
}
footer div {
  height: 54px;
  background-color: #293c55;
}
footer div p {
  line-height: 54px;
  color: #ffffff;
}
